.inter-requral {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.montaga-regular {
  font-family: "Montaga", serif;
  font-weight: 400;
  font-style: normal;
}
.advent-pro-regular {
  font-family: "Advent Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.main-container{
  max-width: 1280px;
  margin: 0 auto;
}
.hero-section {
  width: 100%;
  min-height: 130vh;
  background-image: url(./Imges/Hero-Section.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero-section-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section-content{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-top: -5rem;
}
.section-title{
 font-size: 70px; 
 font-family: "Montaga", serif;
 font-weight: 400;
 color: #fff;
 text-transform: uppercase;
}
.hero-content-line{
  width: 80%;
  height: 1px;
  background-color: #fff;
}
.section-para{
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #fff;
 text-transform: uppercase;
}
.hero-section-welcome-wrapper{
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 27px;
  margin-right: 4rem;
}
.hero-welcome-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.hero-line{
  width: 400px;
  height: auto;
}
.hero-welcome{
  font-size: 88px; 
  font-family: "Montaga", serif;
  font-weight: 400;
  color: #fff;
}
.hero-logo-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.hero-logo{
  width: 181px;
  height: 147px;
}
.hero-logo-para{
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #fff;
 text-transform: uppercase;
}



/* project-section */

.project-section{
  width: 100%;
  background-color: black;
  padding: 10rem 0;
  position: relative;
}
.project-section-wrapper{
  width: 100%;
  margin-left: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.project-content-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 8rem; */
  width: 100%;
  position: relative;
}
.project-title{
  font-size: 53px; 
  font-family: "Advent Pro", sans-serif;
  font-weight: 400;
  color: #fff;
  max-width: 460px;
}
.project-description-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 40px;
  margin-right: 8rem;
}
.project-para{
  font-size: 14px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #C2C2C2;
  text-transform: uppercase;
}
.projects-points-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  max-width: 600px;
  gap: 2rem;
  color: white;
}
.projects-points-wrapper li{
  font-size: 8px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}
.project-images-wrapper{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}
.project-image{
  width: 1222px;
  height: 510px;
  right: 0;
  top: 0;
  object-fit: cover;
  z-index: 1;
}
.project-map{
  width: 390px;
  height: 210px;
  border-bottom-left-radius: 48px;
  z-index: 2;
  position: absolute;
  left: 0;
}
.project-arrow{
  position: absolute;
  left: 166px;
  top: 52px;
  width: 313px;
  height: 208px;
}








.cta-section{
  width: 100%;
  height: 100%;
  background-image: url(./Imges/home-buting-section.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
.cta-section-wrapper{
  width: 100%;
  min-height: 130vh;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 8rem;
}
.cta-title{
  font-size: 43px;
  line-height: 49px;
 font-family: "Montaga", serif;
 color: #000;
 text-transform: uppercase;
}
.cta-1{
  text-align: right;
}
.cta-2{
  text-align: left;
  margin-right: 7rem;
}





/* outdoor-amenities-section */

.outdoor-amenities-section{
  width: 100%;
  background-color: #000;
  position: relative;
}
.outdoor-amenities-section-white{
  width: 100%;
  background-color: #fff;
  position: relative;
}
.amenities-wrapper{
  padding: 6rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 118px;
  position: relative;
}
.amenities-title-wrappers{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.amenities-title{
  font-size: 53px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.amenities-title-black{
  font-size: 53px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #000;
  text-transform: uppercase;
}
.amenities-para{
  font-size: 14px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #6E6563;
}
.amenities-card-wrappers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px ;
}
.amenities-card-row{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 100%;
}

.amenities-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.amenities-icons{
  width: 30px;
  height: 30px;
}
.amenities-card-title{
  font-size: 10px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #6E6563;
  text-align: center;
}
.amenities-card-title-black{
  font-size: 10px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #000000;
  text-align: center;
}
.amenities-arrows{
  position: absolute;
  top: 40%;
  left: 43%;
  width: 114px;
  height: 107px;
  object-fit: contain;
  object-position: center;
}
.amenities-arrows-white{
  position: absolute;
  top: 40%;
  left: 48%;
  width: 114px;
  height: 107px;
  object-fit: contain;
  object-position: center;
}


/* showcase-section */

.showcase-section{
  width: 100%;
  height: 100%;
  background-color: #000;
  position: relative;
}
.showcase-section-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 12rem 5rem;
}
.showcase-section-content{
  width: 100%;
  height: 900px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase-bg{
  height: 700px;
  width: 100%;
  object-fit: contain;
  object-position: center;
  z-index: 2;
  margin-top: 10%;
  margin-left: -10%;
  position: absolute;
}
.showcase-image-1{
  position: absolute;
  top: 0;
  left: 0;
  width: 347px;
  height: 423px;
  object-position: center;
  z-index: 1;
}
.showcase-image-2{
  position: absolute;
  top: 0;
  right: 0;
  width: 653px;
  height: 363px;
  object-position: center;
  z-index: 1;
}
.showcase-image-3{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 353px;
  height: 360px;
  object-position: center;
  z-index: 1;
}
.showcase-image-4{
  position: absolute;
  bottom: 80px;
  right: 0;
  width: 276px;
  height: 360px;
  object-position: center;
  z-index: 1;
}
.showcase-content-wrapper{
  max-width: 616px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 18rem;
  margin-left: 3rem;
}
.showcase-title{
  font-size: 92px;
  font-weight: 400;
 font-family: "Montaga", serif;
  color: #fff;
  text-align: center;
  max-width: 400px;
  line-height: 94px;
}
.showcase-para{
  font-size: 14px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #C2C2C2;
  text-align: center;
  max-width: 400px;
  line-height: 21px;
}






/* footer-section */
.footer-section{
  width: 100%;
  height: 100%;
  background-color: #000;
}
.footer-wrapper{
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 85px;
}
.footer-top-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 106px;
}
.footer-top-content-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.footer-top-content-title-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: left;
}
.footer-top-title{
  font-size: 40px;
  font-weight: 400;
 font-family: "Montaga", serif;
  color: #fff;
  text-align: left;
}
.footer-top-para{
  font-size: 12px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #C2C2C2;
  text-align: left;
  width: 100%;
}
.footer-top-content-links-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.footer-logo{
  height: 145px;
  width: 180px;
}
.footer-address-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  width: 100%;
  gap: 0.5rem;
}
.footer-address{
  font-size: 12px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #C2C2C2;
}
.footer-address span{
  font-size: 12px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #fff;
}
.footer-links-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  width: 100%;
}
.footer-links{
  font-size: 19px;
  font-weight: 400;
 font-family: "Montaga", serif;
  color: #fff;
  text-align: left;
  text-decoration: none;
}




.footer-top-form-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.footer-form-content-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.form-title{
  font-size: 40px;
  font-weight: 400;
 font-family: "Montaga", serif;
 color: #fff;
 text-align: left;
 width: 100%;
}
.form-para{
  font-size: 12px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #C2C2C2;
  text-align: left;
  width: 100%;
  margin-top: -15px;
}
.footer-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 0.6rem;
}
.form-input{
  border: 1px solid #fff;
  padding: 16px 24px;
  width: 375px;
  font-size: 12px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #C2C2C2;
  background-color: transparent;
}
.form-submit-btn{
  width: 130px;
  background-color: #fff;
  color: #000;
  padding: 16px 24px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}


.footer-social-media-icons-wrapper{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.social-media-icons{
  width: 24px;
  height: 24px;
}

.footer-bottom-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 37px;
}
.footer-line{
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.footer-bottom-para{
  font-size: 12px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #fff;
}