.inter-requral {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.montaga-regular {
  font-family: "Montaga", serif;
  font-weight: 400;
  font-style: normal;
}
.advent-pro-regular {
  font-family: "Advent Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
}
.main-container{
  max-width: 1280px;
  margin: 0 auto;
}
.hero-section {
  width: 100%;
  min-height: 130vh;
  background-image: url(./Imges/Hero-Section.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section-content{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-top: -5rem;
}
.section-title{
 font-size: 70px; 
 font-family: "Montaga", serif;
 font-weight: 400;
 /* line-height: 6%; */
 color: #fff;
 text-transform: uppercase;
}
.hero-content-line{
  width: 80%;
  height: 1px;
  background-color: #fff;
}
.section-para{
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  /* line-height: 21; */
  color: #fff;
 text-transform: uppercase;
}






























.cta-section{
  width: 100%;
  height: 100%;
  background-image: url(./Imges/home-buting-section.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
.cta-section-wrapper{
  width: 100%;
  min-height: 130vh;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 8rem;
}
.cta-title{
  font-size: 43px;
  line-height: 49px;
 font-family: "Montaga", serif;
 color: #000;
 text-transform: uppercase;
}
.cta-1{
  text-align: right;
}
.cta-2{
  text-align: left;
  margin-right: 7rem;
}





/* outdoor-amenities-section */

.outdoor-amenities-section{
  width: 100%;
  background-color: #000;
  position: relative;
}
.outdoor-amenities-section-white{
  width: 100%;
  background-color: #fff;
  position: relative;
}
.amenities-wrapper{
  padding: 6rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 118px;
}
.amenities-title-wrappers{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.amenities-title{
  font-size: 53px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.amenities-title-black{
  font-size: 53px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #000;
  text-transform: uppercase;
}
.amenities-para{
  font-size: 14px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #6E6563;
}
.amenities-card-wrappers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px ;
}
.amenities-card-row{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 100%;
}

.amenities-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.amenities-icons{
  width: 30px;
  height: 30px;
}
.amenities-card-title{
  font-size: 10px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #6E6563;
  text-align: center;
}
.amenities-card-title-black{
  font-size: 10px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #000000;
  text-align: center;
}
















/* footer-section */
.footer-section{
  width: 100%;
  height: 100%;
  background-color: #000;
}
.footer-wrapper{
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 85px;
}
.footer-top-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 106px;
}
.footer-top-content-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.footer-top-content-title-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: left;
}
.footer-top-title{
  font-size: 40px;
  font-weight: 400;
 font-family: "Montaga", serif;
  color: #fff;
  text-align: left;
}
.footer-top-para{
  font-size: 12px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #C2C2C2;
  text-align: left;
  width: 100%;
}
.footer-top-content-links-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.footer-logo{
  height: 145px;
  width: 180px;
}
.footer-address-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  width: 100%;
  gap: 0.5rem;
}
.footer-address{
  font-size: 12px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #C2C2C2;
}
.footer-address span{
  font-size: 12px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #fff;
}
.footer-links-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  width: 100%;
}
.footer-links{
  font-size: 19px;
  font-weight: 400;
 font-family: "Montaga", serif;
  color: #fff;
  text-align: left;
  text-decoration: none;
}




.footer-top-form-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.footer-form-content-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.form-title{
  font-size: 40px;
  font-weight: 400;
 font-family: "Montaga", serif;
 color: #fff;
 text-align: left;
 width: 100%;
}
.form-para{
  font-size: 12px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #C2C2C2;
  text-align: left;
  width: 100%;
  margin-top: -15px;
}
.footer-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 0.6rem;
}
.form-input{
  border: 1px solid #fff;
  padding: 16px 24px;
  width: 375px;
  font-size: 12px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: #C2C2C2;
  background-color: transparent;
}
.form-submit-btn{
  width: 130px;
  background-color: #fff;
  color: #000;
  padding: 16px 24px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}


.footer-social-media-icons-wrapper{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.social-media-icons{
  width: 24px;
  height: 24px;
}

.footer-bottom-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 37px;
}
.footer-line{
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.footer-bottom-para{
  font-size: 12px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #fff;
}